<div>
  <mat-button-toggle-group style="margin-bottom: 3em">
    <mat-button-toggle [routerLink]="'/client/' + machine?.project.client.uuid"
    ><fa-icon [icon]="faUserTie"></fa-icon> {{machine?.project.client.name}}</mat-button-toggle>
    <mat-button-toggle [routerLink]="'/project/' + machine?.project.uuid"
    ><fa-icon [icon]="faBriefcase"></fa-icon> {{machine?.project.name}}</mat-button-toggle>
  </mat-button-toggle-group>
  <form [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label i18n>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" i18n-placeholder>
    </mat-form-field>
  </form>
  <div class="row p-3">
    <div class="d-flex justify-content-end">
      <button routerLink="create" mat-raised-button color="primary" (click)="updateMachine()">Guardar</button>
    </div>
  </div>
  <app-user-with-permissions-main permissionRelatedEntity="machine" [permissionRelatedEntityUuid]="uuid">
  </app-user-with-permissions-main>
</div>
