<div>
  <form [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label i18n>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" i18n-placeholder>
    </mat-form-field>
  </form>
  <div class="row p-3">
    <div class="d-flex justify-content-end">
      <button routerLink="create" mat-raised-button color="primary" (click)="updateMachine()">Guardar</button>
    </div>
  </div>
  <app-user-with-permissions-main permissionRelatedEntity="machine" [permissionRelatedEntityUuid]="uuid">
  </app-user-with-permissions-main>
</div>
