<mat-sidenav-container class="app-container">
  <mat-sidenav #draw
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches"
               [opened]="opened"
               role="navigation">
    <div class="mat-sidenav">
      <div class="sidenav-top">
        <div class="sidenav-header sidenav-row">
          <a mat-list-item routerLink="/dashboard">
            <div class="left">
              <img class="logo" src="assets/logo.svg" alt="combined shape">
            </div>
          </a>
          <div class="right" (click)="draw.toggle() && toggle()">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
          </div>
        </div>
        <mat-accordion class="sidenav-links">
          <mat-nav-list>
            <a class="menu-option" mat-list-item routerLink="/dashboard" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Dashboard</div>
              </div>
            </a>
            <a class="menu-option" mat-list-item routerLink="/user" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Users</div>
              </div>
            </a>
            <a class="menu-option" mat-list-item routerLink="/client" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Clients</div>
              </div>
            </a>
            <a class="menu-option" mat-list-item routerLink="/project" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Projects</div>
              </div>
            </a>
            <a class="menu-option" mat-list-item routerLink="/machine" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Machines</div>
              </div>
            </a>
            <a class="menu-option" mat-list-item routerLink="/profile" routerLinkActive='active'>
              <div>
                <div class="text" i18n>Profile</div>
              </div>
            </a>
          </mat-nav-list>
        </mat-accordion>
      </div>
      <div class="sidenav-bottom">
        <div routerLink="/profile">
          <h4 *ngIf="user">{{user.username}}</h4>
        </div>
        <a mat-icon-button aria-label="Logout" routerLink="/logout">
          <fa-icon [icon]="faSignOut" class="fa-xl"></fa-icon>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!draw.opened"
         (click)="draw.toggle() && toggle()"
         id="show-sidenav">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </div>
    <div class="p-5" [ngClass]="draw.opened?'sidenav-opened':'sidenav-closed'">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="loading">
      <div class="loading-spinner">
        <mat-spinner diameter="100"></mat-spinner>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
