<div>
  <h3 i18n>Users with permissions</h3>
  <form [formGroup]="filters">
    <mat-form-field appearance="legacy">
      <mat-label i18n>Add user</mat-label>
      <input type="text"
             i18n-placeholder
             placeholder="Add user"
             matInput
             [matAutocomplete]="auto"
             formControlName="name"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let userMap of usersWithPermissionsMap | keyvalue">
          <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <div *ngIf="userMap.value.hasAdminPermission || userMap.value.hasSshPermission">
                <fa-icon
                  *ngFor="let parentPermission of userMap.value.parentPermissions | keyvalue"
                  class="p-1"
                  [style]="
                    'color: '
                    + (parentPermission.value.userPermissionType == 'ssh' ? 'springgreen' : 'cornflowerblue')
                    + ';'
                  "
                  [icon]="
                    !parentPermission.value.permissionRelatedEntity ? faBolt
                    : parentPermission.value.permissionRelatedEntity == 'client' ? faUserTie
                    : parentPermission.value.permissionRelatedEntity == 'project' ? faBriefcase
                    : faServer
                  "></fa-icon>
              </div>
              <div class="vertical-line" *ngIf="userMap.value.hasAdminPermission || userMap.value.hasSshPermission"></div>
              <p style="margin: 0;">{{userMap.value.user.firstName}} {{userMap.value.user.lastName}}</p>
              <div class="vertical-line"></div>
              <small style="font-size: small">{{userMap.value.user.email}}</small>
            </div>
            <div>
              <button
                *ngIf="userMap.value.childrenPermissions.size > 0"
                mat-raised-button
                style="background-color: lightgrey; margin: 0 1em;"
                (click)="showChildrenPermissions(userMap.key)"
                i18n
              >Children Permissions</button>
              <button
                *ngIf="hasRevokePermissionsButton(userMap.key)"
                mat-raised-button
                style="background-color: #ff413c; margin: 0 1em;"
                (click)="revokePermissions(userMap.key)"
                i18n
              ><span class="revoke-button">Revoke Permission <mat-chip-list>
                <mat-chip *ngFor="let permissionTypeMap of this.usersWithPermissionsMap.get(userMap.key).selectedTypesForRemove | keyvalue"
                          [class]="permissionTypeMap.value ? 'active' : 'deactivated'"
                          (click)="selectTypeToRemove($event, userMap.key, permissionTypeMap.key, !permissionTypeMap.value)"
                >{{permissionTypeMap.key}}</mat-chip>
              </mat-chip-list></span></button>
              <button
                *ngIf="!userMap.value.hasSshPermission"
                mat-raised-button
                style="background-color: springgreen; margin: 0 1em;"
                (click)="addPermission(userMap.value.user, 'ssh')"
              >ssh</button>
              <button
                *ngIf="!userMap.value.hasAdminPermission"
                mat-raised-button
                style="background-color: cornflowerblue; margin: 0 1em;"
                (click)="addPermission(userMap.value.user, 'admin')"
              >admin</button>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="d-flex w-100 justify-content-between" *ngIf="childrenPermissions">
    <mat-chip-list>
      <mat-chip *ngFor="let childPermission of childrenPermissions"
                [routerLink]="childPermission.route"
                [style]="'background-color: ' + (childPermission.type == 'ssh' ? 'springgreen' : 'cornflowerblue') + ';'">
        <fa-icon *ngIf="childPermission.relatedEntityType == 'client'"
                 [icon]="faUserTie"
        ></fa-icon>
        <fa-icon *ngIf="childPermission.relatedEntityType == 'project'"
                 [icon]="faBriefcase"
        ></fa-icon>
        <fa-icon *ngIf="childPermission.relatedEntityType == 'machine'"
                 [icon]="faServer"
        ></fa-icon>
        <div class="vertical-line"></div>
        <span>{{childPermission.name}}</span>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
