<div class="mat-elevation-z10 p-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6"><mat-form-field appearance="legacy" disabled="">
        <mat-label i18n>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" i18n-placeholder>
      </mat-form-field></div>
      <div class="col-3"><mat-form-field appearance="legacy">
        <mat-label i18n>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" i18n-placeholder>
      </mat-form-field></div>
      <div class="col-3"><mat-form-field appearance="legacy">
        <mat-label i18n>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" i18n-placeholder>
      </mat-form-field></div>
      <div class="col-12"><mat-form-field appearance="legacy">
        <mat-label i18n>Public Key</mat-label>
        <textarea matInput placeholder="Public Key" formControlName="pubKey" i18n-placeholder></textarea>
      </mat-form-field></div>
    </div>
  </form>
  <div class="row p-3">
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
    </div>
  </div>
</div>
