<div>
  <mat-form-field appearance="legacy">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveUser()">Guardar</button>
</div>
