$main_font_family: Ubuntu, Futura, Trebuchet MS, Arial, sans-serif;

$primary_color: #4030A7;
$default_bg: rgba(23, 121, 254, 0.2);
$color_primary_button: darken($default_bg, 15%);

$box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

$secondary_text_color: #181818;

$menu_primary_color: #22A;
$menu_light_primary_color: #AAE;
$menu_highlight_content_bg_color: #304890;
