$main_font_family: Futura, Trebuchet MS, Arial, sans-serif;
$light_icon_color: #4030A7;
$menu_light_primary_color: #A3D177;
$menu_primary_color: orange;
$default_bg: #999;
$box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$secondary_text_color: blue;
$highlight_content_bg_color: pink;
