@import 'variables';
@import '~mdb-ui-kit/css/mdb.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: $main_font_family; }

.mat-form-field {
  width: 100%;
}

.datepicker-form-field {
  .mat-form-field-wrapper {
    height: 70px;

    .mat-form-field-flex {
      height: 100%;

      .mat-form-field-infix {
        margin-top: auto;
      }
    }
  }
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab,
.mat-form-field,
.mat-card,
{
  font-family: $main_font_family;
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: inherit;
}

.mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: $color_primary_button;
}

.mat-drawer-inner-container {
  overflow: clip !important;
}

table {
  width: 100%;

  .mat-column-actions {
    width: 10em;
    text-align: center !important;
    font-weight: bold;
    padding-right: 24px;

    fa-icon {
      padding: 0 0.3em;
      cursor: pointer;
    }
  }
}
