@import 'variables';

@import '~bootstrap/dist/css/bootstrap-grid.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
  width: 100%;
}

.datepicker-form-field {
  .mat-form-field-wrapper {
    height: 70px;

    .mat-form-field-flex {
      height: 100%;

      .mat-form-field-infix {
        margin-top: auto;
      }
    }
  }
}
