<div *ngIf="cardsValues">
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12">
      <mat-card class="example-card">
        <mat-card-subtitle i18n>Analytics</mat-card-subtitle>
        <mat-card-title i18n>Users</mat-card-title>
        <mat-card-content>
          <h2>{{cardsValues.users}}</h2>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button routerLink="/user" i18n>VIEW</button>
          <button mat-button (click)="showNewEntriesByDay('users')" i18n>CURRENT YEAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <mat-card class="example-card">
        <mat-card-subtitle i18n>Analytics</mat-card-subtitle>
        <mat-card-title i18n>Clients</mat-card-title>
        <mat-card-content>
          <h2>{{cardsValues.clients}}</h2>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button routerLink="/client" i18n>VIEW</button>
          <button mat-button (click)="showNewEntriesByDay('clients')" i18n>CURRENT YEAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <mat-card class="example-card">
        <mat-card-subtitle i18n>Analytics</mat-card-subtitle>
        <mat-card-title i18n>Projects</mat-card-title>
        <mat-card-content>
          <h2>{{cardsValues.projects}}</h2>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button routerLink="/project" i18n>VIEW</button>
          <button mat-button (click)="showNewEntriesByDay('projects')" i18n>CURRENT YEAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <mat-card class="example-card">
        <mat-card-subtitle i18n>Analytics</mat-card-subtitle>
        <mat-card-title i18n>Machines</mat-card-title>
        <mat-card-content>
          <h2>{{cardsValues.machines}}</h2>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button routerLink="/machine" i18n>VIEW</button>
          <button mat-button (click)="showNewEntriesByDay('machines')" i18n>CURRENT YEAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row" style="margin-top: 2em">
    <div *ngIf="chartOptions">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </div>
</div>
